.color-legend.white {
  background-color: rgba(255, 255, 255, 0.6);
  color: black; }

.color-legend.blue {
  background-color: rgba(0, 0, 255, 0.3); }

.color-legend.green {
  background-color: rgba(0, 255, 0, 0.3); }

.rates-view {
  height: 90%;
  width: 100%;
  overflow-y: auto;
  position: absolute;
  display: flex;
  flex: 1;
  flex-direction: column; }
  .rates-view g.x.axis text {
    fill: white;
    font-family: Roboto, sans-serif !important; }
    .rates-view g.x.axis text.label {
      transform: translate(160px, 3px); }
  .rates-view g.y.axis text {
    fill: white;
    font-family: Roboto, sans-serif !important; }
    .rates-view g.y.axis text.label {
      transform: translate(5px, 120px) rotate(-90deg); }
