.filters-view {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  g.x.axis text {
    &.label {
      transform: translate(-160px, 0);
    }
    fill: white;
    font-family: Roboto, sans-serif !important;
  }
  g.y.axis text {
    &.label {
      transform: translate(0, 110px) rotate(-90deg);
    }
    fill: white;
    font-family: Roboto, sans-serif !important;
  }
}
.area-chart-container {
  padding: 20px;
}

.RACEFLIGHT {
  .roll_lpf1,
  .roll_lpf2,
  .roll_lpf3 {
    order: 0;
  }
  .pitch_lpf1,
  .pitch_lpf2,
  .pitch_lpf3 {
    order: 1;
  }
  .yaw_lpf1,
  .yaw_lpf2,
  .yaw_lpf3 {
    order: 2;
  }
  .roll_gyro_q1,
  .roll_gyro_q2,
  .roll_gyro_q3 {
    order: 3;
  }
  .pitch_gyro_q1,
  .pitch_gyro_q2,
  .pitch_gyro_q3 {
    order: 4;
  }
  .yaw_gyro_q1,
  .yaw_gyro_q2,
  .yaw_gyro_q3 {
    order: 5;
  }
  .imuf_w1,
  .imuf_w2,
  .imuf_w3 {
    order: 6;
  }
}
