.filters-view {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  position: absolute;
  display: flex;
  flex-direction: column; }
  .filters-view g.x.axis text {
    fill: white;
    font-family: Roboto, sans-serif !important; }
    .filters-view g.x.axis text.label {
      transform: translate(-160px, 0); }
  .filters-view g.y.axis text {
    fill: white;
    font-family: Roboto, sans-serif !important; }
    .filters-view g.y.axis text.label {
      transform: translate(0, 110px) rotate(-90deg); }

.area-chart-container {
  padding: 20px; }

.RACEFLIGHT .roll_lpf1,
.RACEFLIGHT .roll_lpf2,
.RACEFLIGHT .roll_lpf3 {
  order: 0; }

.RACEFLIGHT .pitch_lpf1,
.RACEFLIGHT .pitch_lpf2,
.RACEFLIGHT .pitch_lpf3 {
  order: 1; }

.RACEFLIGHT .yaw_lpf1,
.RACEFLIGHT .yaw_lpf2,
.RACEFLIGHT .yaw_lpf3 {
  order: 2; }

.RACEFLIGHT .roll_gyro_q1,
.RACEFLIGHT .roll_gyro_q2,
.RACEFLIGHT .roll_gyro_q3 {
  order: 3; }

.RACEFLIGHT .pitch_gyro_q1,
.RACEFLIGHT .pitch_gyro_q2,
.RACEFLIGHT .pitch_gyro_q3 {
  order: 4; }

.RACEFLIGHT .yaw_gyro_q1,
.RACEFLIGHT .yaw_gyro_q2,
.RACEFLIGHT .yaw_gyro_q3 {
  order: 5; }

.RACEFLIGHT .imuf_w1,
.RACEFLIGHT .imuf_w2,
.RACEFLIGHT .imuf_w3 {
  order: 6; }
