.three-column {
  flex-basis: 33.33%; }

.two-column {
  flex-basis: 50%; }

.heading {
  font-size: 15px; }

.secondaryHeading {
  font-size: 14px !important; }

.link {
  text-decoration: "none"; }

.details {
  align-items: "center"; }
