.tpa-slider-control-input {
  text-align: right;
  display: flex;
  flex: 1;
  padding: 0 !important; }

.tpa-slider-control-slider {
  height: 80px !important; }

.tpa-slider-control-label {
  margin-left: 7px !important; }
