.slider-control {
  display: flex;
  flex: 1;
  margin-right: 10px;
  flex-direction: column;
}
.slider-control-inner {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.slider-control-input {
  text-align: right;
  display: flex;
  flex: 1;
  padding: 0 !important;
}
.slider-control-label {
  white-space: nowrap;
}

.vertical-slider-view {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}
