.dfu-view-root {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  padding: 30px 10px 10px 10px;
  min-height: 100%;
  box-sizing: border-box;
}
.dfu-view-root .dfu-select-firmware {
  font-size: 1.5rem;
  font-weight: normal;
  color: white;
  margin-left: -8px;
  margin-bottom: -10px;
}
.dfu-view-root a {
  color: #4dd0e1;
}
