.connected-root {
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  padding: 100px 0 0 0 !important;
  min-height: 100%;
  box-sizing: border-box;
}
