.rx_assistant_step_1_0 {
  background-image: url("/assets/center_sticks.jpg");
  background-size: cover;
  width: 500px;
  height: 400px; }

.rx_assistant_step_2_0 {
  background-image: url("/assets/throtte_down.jpg");
  background-size: cover;
  width: 500px;
  height: 400px; }

.rx_assistant_step_3_1 {
  background-image: url("/assets/throttle_up.jpg");
  background-size: cover;
  width: 500px;
  height: 400px; }

.rx_assistant_step_3_2 {
  background-image: url("/assets/yaw_right.jpg");
  background-size: cover;
  width: 500px;
  height: 400px; }

.rx_assistant_step_3_3 {
  background-image: url("/assets/pitch_up.jpg");
  background-size: cover;
  width: 500px;
  height: 400px; }

.rx_assistant_step_3_4,
.rx_assistant_step_3_5 {
  background-image: url("/assets/roll_right.jpg");
  background-size: cover;
  width: 500px;
  height: 400px; }
