.config-list-view {
  margin: 10px;
  padding: 10px;
  height: 90%;
  width: 100%;
  overflow-y: auto;
  position: absolute; }

.config-list-view-sliders {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 10px;
  padding: 10px; }

.RACEFLIGHT .config-list-view-sliders {
  grid-template-columns: repeat(3, 1fr); }

.config-list-view-dropdowns,
.config-list-view-inputs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px;
  padding: 10px; }
