.flex {
  display: flex;
}
.flex-center {
  @extend .flex;
  justify-items: center;
  align-items: center;
}
.flex-center-stretch {
  @extend .flex;
  justify-items: center;
  align-items: stretch;
}
.flex-column {
  @extend .flex;
  flex-direction: column;
}
.flex-column-center {
  @extend .flex-column;
  justify-items: center;
  align-items: center;
}
.flex-column-start {
  @extend .flex-column;
  justify-items: flex-start;
  align-items: flex-start;
}

.warning {
  background-color: orange;
}
.danger {
  background-color: red;
}
.RACEFLIGHT {
  .warning,
  .danger {
    background-color: inherit;
  }
}

.notification-modal {
  background-color: wheat;
  text-align: center;
  margin: 0 auto;
  height: 80px;
  width: 200px;
  margin-top: 250px;
  h6 {
    color: black;
    margin-bottom: 0;
  }
}

@font-face {
  font-family: "altehaasgroteskregular";
  src: url("./Themes/altehaasgroteskregular.ttf");
}
