.osd-element {
  color: white;
  font-family: monospace;
  cursor: pointer;
}
.digital {
  .osd-element {
    font-family: sans-serif;
    font-size: 0.8rem;
  }
}
.bold {
  .osd-icon-label {
    font-weight: bolder;
  }
}
.digital {
  .osd-icon-label {
    font-weight: bold;
    font-style: italic;
  }
}
.large {
  .osd-icon-label {
    font-size: 0.9rem;
  }
}
.extra_large {
  .osd-icon-label {
    font-size: 1rem;
    font-weight: bold;
  }
}
.dropzone-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  border: 10px white dotted;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  color: white;
  opacity: 0.2;
}

.osd-icon {
  margin-right: 5px;
  font-size: 0.8rem;
}

.osd-icon-label {
  &.craft_name {
    text-transform: capitalize;
  }
  color: whitesmoke;
  font-weight: bold;
  .osd-icon {
    margin-right: 5px;
    font-size: 0.9rem;
    position: relative;
    bottom: 2px;
  }
  .mah {
    font-size: 0.4rem;
    text-align: center;
  }
  .compass-bar {
    line-height: 10px;
  }
  letter-spacing: 5px;
  white-space: nowrap;
  display: flex;
  justify-items: center;
  align-items: center;
  cursor: pointer;
}

.ah_sidebar {
  height: 7rem;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 7rem;
  bottom: 2rem;
  .ah_sidebar-left,
  .ah_sidebar-right {
    width: 0.8rem;
  }
  .ah_sidebar-mid {
    flex-grow: 1;
  }
  cursor: pointer;
}

.ah_bar {
  @extend .osd-icon-label;
  height: 7rem;
  width: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 5rem;
  right: 4rem;
  .osd-icon {
    position: relative;
    top: 2px;
  }
  cursor: pointer;
}
