.osd-element {
  color: white;
  font-family: monospace;
  cursor: pointer; }

.digital .osd-element {
  font-family: sans-serif;
  font-size: 0.8rem; }

.bold .osd-icon-label, .bold .ah_bar {
  font-weight: bolder; }

.digital .osd-icon-label, .digital .ah_bar {
  font-weight: bold;
  font-style: italic; }

.large .osd-icon-label, .large .ah_bar {
  font-size: 0.9rem; }

.extra_large .osd-icon-label, .extra_large .ah_bar {
  font-size: 1rem;
  font-weight: bold; }

.dropzone-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  border: 10px white dotted;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  color: white;
  opacity: 0.2; }

.osd-icon {
  margin-right: 5px;
  font-size: 0.8rem; }

.osd-icon-label, .ah_bar {
  color: whitesmoke;
  font-weight: bold;
  letter-spacing: 5px;
  white-space: nowrap;
  display: flex;
  justify-items: center;
  align-items: center;
  cursor: pointer; }
  .osd-icon-label.craft_name, .craft_name.ah_bar {
    text-transform: capitalize; }
  .osd-icon-label .osd-icon, .ah_bar .osd-icon {
    margin-right: 5px;
    font-size: 0.9rem;
    position: relative;
    bottom: 2px; }
  .osd-icon-label .mah, .ah_bar .mah {
    font-size: 0.4rem;
    text-align: center; }
  .osd-icon-label .compass-bar, .ah_bar .compass-bar {
    line-height: 10px; }

.ah_sidebar {
  height: 7rem;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 7rem;
  bottom: 2rem;
  cursor: pointer; }
  .ah_sidebar .ah_sidebar-left,
  .ah_sidebar .ah_sidebar-right {
    width: 0.8rem; }
  .ah_sidebar .ah_sidebar-mid {
    flex-grow: 1; }

.ah_bar {
  height: 7rem;
  width: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 5rem;
  right: 4rem;
  cursor: pointer; }
  .ah_bar .osd-icon {
    position: relative;
    top: 2px; }
