.osd-element {
  color: white;
  font-family: monospace;
  cursor: pointer;
}
.dropzone-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  border: 10px white dotted;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  color: white;
  opacity: 0.2;
}
