on:
  push:
    tags:
    - '*'
    #branches:
    #- '*'
  pull_request:
    branches:
    - '*'
  # repository_dispatch is a newer github-actions feature that will allow building from triggers other than code merge/PR
  repository_dispatch:
    types: [build]

name: Build Nemesis
jobs:
  build:
    timeout-minutes: 40
    continue-on-error: false
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      max-parallel: 3
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - name: git checkout
        continue-on-error: false
        uses: actions/checkout@master
      - name: get tag & short-sha
        continue-on-error: true
        run: |
          echo "REVISION_TAG=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV
          echo "SHORT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
      - name: setup node
        continue-on-error: false
        uses: actions/setup-node@master
        with:
          node-version: '12'
      # for debugging
      - name: show variables
        continue-on-error: true
        run: |
          echo "Build: ${{ github.RUN_NUMBER }}"
          echo "Commit: ${{ github.SHA }}"
          echo "Short: ${{ env.SHORT_SHA }}"
          echo "Ref: ${{ github.REF}}"
          echo "Tag: ${{ env.REVISION_TAG }}"
          echo "Actor: ${{ github.ACTOR }}"
          echo "Repo: ${{ github.REPOSITORY }}"

      - name: Build Linux
        continue-on-error: true
        if: ${{ startsWith(matrix.os, 'ubuntu') }}
        run: |
          rm -rf ./build/
          rm -rf ./dist/
          npm config set python /usr/bin/python2.7
          npm install -g n
          sudo n 12
          npm install --save --save-exact
          npm run electron-pack && npm run dist

      - name: Build OSX
        continue-on-error: true
        if: ${{ startsWith(matrix.os, 'macos') }}
        run: |
          rm -rf ./build/
          rm -rf ./dist/
          #brew install libusb
          npm config set python /usr/bin/python2.7
          npm install -g n
          sudo n 12
          npm install --save --save-exact
          npm run electron-pack && npm run dist

      - name: Build Windows
        continue-on-error: true
        if: ${{ startsWith(matrix.os, 'windows') }}
        run: |
          rm -Confirm:$false -Recurse ./build -ErrorAction:SilentlyContinue
          rm -Confirm:$false -Recurse ./dist -ErrorAction:SilentlyContinue
          #npm install yarn
          npm config set python %USERPROFILE%\.windows-build-tools\python27\python.exe
          npm install --save --save-exact
          npm run electron-pack && npm run dist

      - name: Upload Artifacts
        uses: actions/upload-artifact@master
        with:
          name: Nemesis-${{ github.ACTOR }}-${{ github.RUN_NUMBER }}
          path: |
            dist/Nemesis*.AppImage
            dist/Nemesis*.dmg
            dist/Nemesis*.exe

  draft:
    if: startsWith(github.ref, 'refs/tags/')
    needs: build
    timeout-minutes: 10
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      # for debugging
      - name: show variables
        continue-on-error: true
        run: |
          echo "Build: ${{ github.RUN_NUMBER }}"
          echo "Commit: ${{ github.SHA }}"
          echo "Ref: ${{ github.REF}}"
          echo "Actor: ${{ github.ACTOR }}"
          echo "Repo: ${{ github.REPOSITORY }}"
      - name: download artifacts
        continue-on-error: false
        uses: actions/download-artifact@master
        with:
          name: EmuConfigurator-${{ github.ACTOR }}-${{ github.RUN_NUMBER }}
      - name: list artifacts
        continue-on-error: true
        run: |
          ls -lh ./*.???
      - name: draft release
        continue-on-error: true
        uses: softprops/action-gh-release@master
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ./emuflight-configurator*.???
          draft: true
          prerelease: true
          tag_name: ${{ github.RUN_NUMBER }}   # use the build Number, but we manually change to version so that it creates a version-tag on release
          name:  DRAFT / EmuConfigurator / GitHub Build ${{ github.RUN_NUMBER }}
          body: |
            ### Build: ${{ github.RUN_NUMBER }}
            ### Commit: ${{ github.SHA }}
            ### Ref: ${{ github.REF}}
            ### Actor: ${{ github.ACTOR }}
            ### Repo: ${{ github.REPOSITORY }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
